@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using App.Web.Identity

@inject SignInManager<IdentityAppUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - App.Web</title>
    
    <!-- FontAwesome JS -->
    <script defer src="~/fontawesome/js/all.js"></script>
    

    @*     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/App.Web.styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/css/nouislider.min.css">
    <link rel="stylesheet" href="~/css/plyr.css">
    <link rel="stylesheet" href="~/css/photoswipe.css">
    <link rel="stylesheet" href="~/css/default-skin.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/admin.css">

</head>
<body>
    <header class="header">
        <div class="header__wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="header__content">
                            <!-- header logo -->
                            <a asp-controller="Home" asp-action="Index" class="header__logo">
                                <img src="~/img/SuperFlix.png" alt="SuperFlix Logo">
                            </a>
                            <!-- end header logo -->
                            <!-- header nav -->
                            <ul class="header__nav">
                                <li class="header__nav-item">
                                    <a asp-controller="Home" asp-action="Index" class="header__nav-link">Popular Movies</a>
                                </li>
                                
                            @if (SignInManager.IsSignedIn(User))
                                {
                                    <a asp-controller="MovieLikes" asp-action="Index" class="header__nav-link">My Liked Movies</a>
                                }

                                
                            </ul>
                            <!-- end header nav -->
                            <!-- header auth -->
                            <div class="header__auth">
                                <button class="header__search-btn" aria-label="search btn" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,7,0,0,1,11,18Z" /></svg>
                                </button>

                                <!-- dropdown -->
                                @*<div class="dropdown header__lang">
                                <a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuLang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">EN</a>

                                <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuLang">
                                <li><a href="#">English</a></li>
                                <li><a href="#">Spanish</a></li>
                                <li><a href="#">Russian</a></li>
                                </ul>
                                </div>*@
                                <!-- end dropdown -->
                                @*<a href="signin.html" class="header__sign-in">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,12a1,1,0,0,0-1-1H11.41l2.3-2.29a1,1,0,1,0-1.42-1.42l-4,4a1,1,0,0,0-.21.33,1,1,0,0,0,0,.76,1,1,0,0,0,.21.33l4,4a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L11.41,13H19A1,1,0,0,0,20,12ZM17,2H7A3,3,0,0,0,4,5V19a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V16a1,1,0,0,0-2,0v3a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V5A1,1,0,0,1,7,4H17a1,1,0,0,1,1,1V8a1,1,0,0,0,2,0V5A3,3,0,0,0,17,2Z" /></svg>
                                <span>sign in</span>
                                </a>*@
                                <partial name="_LoginPartial" />
                            </div>
                            <!-- end header auth -->
                            <!-- header menu btn -->
                            <button class="header__btn" type="button">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                            <!-- end header menu btn -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- header search -->
        <form action="#" class="header__search">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="header__search-content">
                            <input type="text" placeholder="I'm looking for...">
                            <button type="button">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- end header search -->
    </header>
    <!-- end header -->


<div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - App.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @*      
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> 
        *@

<!-- Template JS -->
<script src="~/js/jquery-3.6.0.min.js"></script>
<script src="~/js/bootstrap.bundle.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/jquery.mousewheel.min.js"></script>
<script src="~/js/jquery.mCustomScrollbar.min.js"></script>
<script src="~/js/wNumb.js"></script>
<script src="~/js/nouislider.min.js"></script>
<script src="~/js/plyr.min.js"></script>
<script src="~/js/jquery.morelines.min.js"></script>
<script src="~/js/photoswipe.min.js"></script>
<script src="~/js/photoswipe-ui-default.min.js"></script>
<script src="~/js/main.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
